$brand-color: #2196f3;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$white-color: #ffffff;
$footer-link-color: rgba(255, 255, 255, 0.6);
$background-color: #e5e5e5;
$secondary-backround-color: #f5f4fa;
$footer-background-color: #2f303a;
